/* Импорт шрифтов */
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url(./Roboto-Bold.woff2) format("woff2"), url(./Roboto-Bold.woff) format("woff"), url(./Roboto-Bold.eot) format("eot"), url(./Roboto-Bold.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url(./Roboto-Medium.woff2) format("woff2"), url(./Roboto-Medium.woff) format("woff"), url(./Roboto-Medium.eot) format("eot"), url(./Roboto-Medium.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(./Roboto-Regular.woff2) format("woff2"), url(./Roboto-Regular.woff) format("woff"), url(./Roboto-Regular.eot) format("eot"), url(./Roboto-Regular.ttf) format("ttf");
    font-display: swap;
}