.dbc-list__text {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
}
.dbc-list__text:last-child {
    margin: 0;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .dbc-list__text {
    font-size: 12px;
    max-width: 100%;
    }
}